/*geral*/
html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
}
a {
    color: white;
    text-decoration: none;
}
/*topo*/
header {
    background-color: #3B8686;
    padding: 30px 10vw 30px 10vw;
}
header nav {
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 5px 15px 0 15px;
}
.menu-atual {
    background: rgba(255, 255, 255, 0.2);
    padding: 2px 15px 2px 15px;
    border-radius: 15px;
}
/*meio*/
.banner {
    padding: 20vw 10vw 5vw 10vw;
    background: linear-gradient(rgba(121,189,154,0.2),rgba(121,189,154,0.2)), url(../images/banner-topo.png) no-repeat center center;
    background-size: cover;
}
.banner h2 {
    font-size: 3rem;
    color: white;
    width: 40%;
    background-color: rgba(59, 134, 134, 0.5);
    padding: 20px 20px 20px 20px;
}
.servicos {
    margin: 5vw 10vw 0vw 10vw;
}
.servicos ul {
    display: flex;
    justify-content: space-between;
}
.servicos ul li {
    text-align: center;
    width: 25%;
}
.servicos ul li span{
    font-size: 3rem;
    color: #3B8686;
}
.servicos ul li h3{
    font-weight: 700;
    margin: 20px 0px 20px 0px;
    font-size: 1.2rem;
}
.servicos ul li p{
    color: #747474;
}
.servicos ul li a{
    background-color: #3B8686;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin: 20px 0 0 0;
}
.meio {
    padding: 3vw 10vw 3vw 3vw;
    background: linear-gradient(rgba(121,189,154,0.2),rgba(121,189,154,0.2)), url(../images/banner-meio.png) no-repeat center center;
    background-size: cover;
}
.meio{
margin: 5vw 0 0 0;
}
.meio ul {
    display: flex;
    justify-content: space-between;
}
.meio ul li{
    text-align: center;
    color: white;
    font-size: 2rem;
    width: 10%;
}
.escrita{
    display: flex;
    justify-content: space-between;
    padding: 5vw 10vw 5vw 10vw;
}
.escrita h2{
    font-size: 2rem;
    color:#0B486B;
}
.escrita  div p{
    margin: 22px 0 20px 0;
    width: 75%;
    font-size: 1.3rem;
    color: #747474;
}
.escrita div p.buton a {
    background-color: #0B486B;
    padding: 15px 20px 15px 20px;
    margin: 20px 20px 0 0;
    display: inline-block;
}
footer nav {
    padding: 5vw 10vw 5vw 10vw;
    color: white;
    background-color: #3b8686;
    display: flex;
    justify-content: space-between;
}

footer nav ul.redes-sociais {
    display: flex;
    font-size: 2rem;
    margin: 0 0 1vw 0;

    li {
        margin: 0 10px 0 0
    }
}

footer nav div.contatos {
    h4 {
        font-size: 1.2rem;
        font-weight: bold;
    }

    ul {
        li {
            margin: 10px 0 0 0;
        }
    }
}
footer nav div.sumario {
    ul{
        li{
            margin: 0 0 30px 0;
            font-size:1.2rem;
            text-align: right;
        }
    }
}